
ul {
	height: 40px;	
	list-style-type: none;
	padding-right: 15px;
	margin: 20px;
	text-align: right;
	background-color: gray;
	padding-top: 10px;	

}
ul li {
	
	font-size: 17vw;
	line-height: 1.59;
	display: inline-block;

}
ul li:hover
{
	color: black;
	background-color:#bad7ec;
	 
}
a:visited {
    color: white;
}
a:active {
    color: white;
}
a:link {
   
     text-decoration: none;
     background-color: transparent;
}
/*profile style*/
#my-info
{
	height:58%;
	
	border:10px;
	border-style: inset;
	display: block;	
	margin-top: 15px;
}
.info{
	width:30%;
border-style: none;
float:left;
}
h1{
	font-weight: bold;
font-family: inherit;
font-stretch: expanded;
}
.info img
{
margin:30px;


 	}
.info:hover img
{

  transform: scale(1.1);
  
}
.my-content
{
	display: block;
	padding-top: 130px;
	padding-right: 80px;
	float:right;
	color: darkblue;
	text-shadow: 3px 3px 5px white;
}
#my-education
{
	margin-top: 20px;
	
	}
.education
{

	background-color:rgba(0 0 0 0.1);
	height:65%;
	
	
}
#ed-school
{

	display: block;

	

}
#ed-inter
{
	
	display: block;

}

#ed-btech
{
		
	display:block;
	

}
#my-skils
{
	margin-left: 160px;
	padding-bottom: 15px;

}

.progress
{
	height:5px;
	


}
 #c:hover
{
	
 height:25px;
 padding-right: 20px;
}
p{
	font-size: 30px;
}
 #java:hover
{
	
 height:25px;
 padding-right: 20px;
}
 #ht:hover
{
	
 height:25px;
 padding-right: 20px;
}
 #css:hover
{
	
 height:25px;
 padding-right: 20px;
}
 #js:hover
{
	
 height:25px;
 padding-right: 20px;
}