
.mypage{
	/* The image used */
	background-image: url("images/3.jpg");
	/* Full height */
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
		
	list-style-type: none;
	padding-right: 15px;
	text-align: right;
	background-color: transparent;
	color: #00008B;	

}
ul li {
	
	font-size: 2vw;
	line-height: 2;
	display: inline-block;
	padding-left:1em;
	font-weight: bold;
	
}
ul li:hover
{
	color: black;
	background-color:#f9f9f9;
	border-radius: 5px 20px 5px;
	font-family:italic;
	text-align: left;
	padding-right: 5px;

}
/*a:visited {
    color: purple.;
}
a:active {
    color: red;
}*/
a:link {
   
     text-decoration: none;
     background-color: transparent;
}
a
{
	color:#00008B;
}
/*Header Style*/
#header-tab{
background-color:rgba(0,0,0,0.1);
margin-top:20px;
;
}
.navbar{
padding-top:5px;
padding-bottom:5px
}
/*profile style*/
.my-info
{
	background-image: url("images/2.jpg"); 
	background-size: cover;
	height:58%;
	border:10px;
	border-style: inset;
	display: block;	
	margin-top: 20px;
}
.info{
	width:35%;
	border-style: none;
	float:right;
	padding-top: 20px;
}
h1{
	font-weight: bold;
	font-family: inherit;
	font-stretch: expanded;
}
.info img
{
	margin:30px;

 }
.info:hover img
{

  transform: scale(1.2);
  
}
.my-content
{
	display: inline;
	padding-top: 120px;
	padding-left: 55px;
	float:left;
	color: #00008B;
	text-shadow: 3px 3px 5px white;
}
#my-education
{
	margin-top: 20px;
	
}
.education
{

	background-color:rgba(0 0 0 0.1);
	/*height:65%;*/
		
}
#my_edu
{
	display:flex;
	 justify-content: center;
}
#ed-school
{

	display:block;
	

}
#ed-inter
{
	
	display:block;
}

#ed-btech
{
		
	display:block;
	

}
.skilbar
{
	background-image: url("images/3.jpg");
	 background-size: cover;
	padding-bottom: 15px;
	padding-right: 150px;
	padding-left: 150px;



}

.progress
{
	height:7px;
	
}
.skilbar p{
	font-size: 30px;
}
 /*#c:hover
{
	
 height:25px;
 padding-right: 20px;
}
 #java:hover
{
	
 height:25px;
 padding-right: 20px;
}
 #ht:hover
{
	
 height:25px;
 padding-right: 20px;
}
 #css:hover
{
	 height:25px;
 padding-right: 20px;
}
 #sql:hover
{
	
 height:25px;
 padding-right: 20px;
}
#boot:hover
{	
 height:25px;
 padding-right: 20px;
}*/
.work
{
	margin-bottom: 20px;
}
#my_work
{
	margin-top: 20px;
	display: flex;
}
#Work_image
{
	display: flex;
	
}
#Work_image img
{
	padding-right:25px;
	
}
.social
{
	background-color:rgba(0,0,0,0.1);
	padding-top:5px;
	padding-bottom: 5px;
	text-align: center;
	word-spacing: 8px;
}
.social a:hover,
.social a:focus {
	border: 2px solid white;
	border-radius:4px 3px 6px;
	color: blue;
	/*max-height: 800px;*/
}
/*Media Responsiveness*/
/*----------------------------------------------------------------------------------------------------*/    
.image_slideshow {
  height: 200px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 200px;
  width: 2526px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/collage.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite;
}
.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}
/*----------------------------------------------------------------------------------------------------*/    
 @media (max-width: 360px) {
    .container {
        /*container at min width 360px*/
        width: 310px; }
        .my-content{
        	padding-top: 5px;
        	padding-right: 0;
        	padding-left: 0;
        }
        .info{
        	float:right;
        	margin-right: 150px;
        }
        .info:hover img{
        	transform: scale(1.4);
  }

}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
/* Breaking points fo r different Screens*/

/* Extra small devices (phones, 600px and up) 
@media only screen and (min-width: 420px) {
     .container {
        /*container at min width 420px*/
        width: 580px; }
       /* .my-content{
        	padding-top: 2px;
        	padding-right: 0px;
        	padding-left: 0px;
        }
        .info{
        	float:right;
        	/*margin-right: 150px;*/
        }
        .info:hover img{
        	transform: scale(1.4);
  }*/
}*/

/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {
.container {
        /*container at min width 600px*/
        width: 680x; } 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
        /*container at min width 768px*/
        width: 860x; } }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
        /*container at min width 992px*/
        width: 1024px; } }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
        /*container at min width 1200px*/
        width: 1260px; }
    }
} */
